{% extends "CarePath/layout.html" %} {% block title %} Diet and Appetite
{%endblock %} {% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">Your Diet and Appetite</h1>
    <br />

    <p>
      Sometimes there are days when you just do not feel like eating. You may be
      recovering from an illness, have just left hospital or just lost your
      appetite. Everybody knows to be healthy you have to eat and drink
      regularly.
    </p>
    <p>Following are a few ideas how to get over your poor appetite.</p>

    <h5 style="font-weight: bold">Why should you eat or drink regularly?</h5>

    <p>
      Foods and liquids give you the strengthto do things. <br />
      Long periods without food can make you nauseated. <br />
      The body needs food for defence againstinfection and to help you heal.
    </p>

    <h5 style="font-weight: bold">Hints on improving your Appetite</h5>

    <p>
      • Try having small, frequent snacks, rather than three meals <br />
      • lf you have no appetite, you probably do not feel hungry. Decideyou will
      have something to eat or drink at certain times each dayTry 8am,10am,12
      noon, 3pm, 6pm and 9pm. <br />
      • Make each snack as tasty,enjoyable and convenient as possible. Eating
      with family or friends may help. <br />
      • Snacks should be full of calories and protein to help maintain
      yourweight and stimulate your appetite.(See ideas later on). <br />
      • Drink fluids if cannot face eating.(See ideas later on). <br />
      • Avoid drinking low calorie fluids like, tea, coffee, water, unless they
      are full of sugar and cream. <br />
      • Choose foods which do not have a strong smell. <br />
      • Try not to mix hot and cold foods as it may make you vomit. <br />
      • lf you can, ask somebody to prepare your food for you. <br />
      • If your doctor allows it, try having a small glass of alcohol half
      anhour before you snack. lt may stimulate your appetite.
    </p>

    <h6 style="font-weight: bold">I feel full all the time...</h6>

    <p>
      • Small, frequent snacks may help <br />
      • Avoid drinking fluids before your meal. <br />
      • Try not to eat quickly or drink fluids rapidly.
    </p>

    <h6 style="font-weight: bold">I feel sick all the time...</h6>

    <p>
      • Eating frequently may help your nausea. <br />
      • Try sipping fluids like flat lemonade, gingerale, milk, if you do not
      feel like eating. <br />
      • Salty crackers and biscuits can help. <br />
      • lf you feel sick in the morning, try eating a cracker or dry toast
      before you get up.
    </p>

    <h6 style="font-weight: bold">My mouth is too sore or too dry...</h6>

    <p>
      • Drink high protein or calorie fluids until you can eat properly.(See
      ideas later on.) <br />
      • Try mashing your food so you do not have to chew too hard. Add milk or
      cream to make food smoother. <br />
      • Very hot or cold food can be painful, so try them lukewarm. <br />
      • Sucking mints can soothe your mouth and stimulate saliva if your mouth
      is dry.
    </p>

    <h6 style="font-weight: bold">Food tastes awful...</h6>

    <p>
      • You may need to adjust the seasoning in your cooking. Add salt to food
      which is too sweet like milkshakes. <br />
      • Experiment with herbs and spices. Try lemon or mint. <br />
      • If some foods taste strange try alternatives. You could swap red meat
      for chicken, fish, eggs.
    </p>
    <br />
    <h5 style="font-weight: bold">
      A Few Ideas for a Suggested Meal Plan for a Poor Appetite
    </h5>

    <p>
      FIVE small snacks a day are often better than 3 meals. Eat as muchas you
      can and build up the amount frequently.
    </p>

    <h6 style="font-weight: bold">Snack 1</h6>

    <p>
      Toast - Serve crustless spread with butter or margarine, honey or peanut
      butter or jam <br />
      Serve dry if feeling sick. <br />
      and /or <br />
      Convenience cereals in a cereal packet, add sugar and fortified milk
      <br />
      Porridge made with cream and fortified milk <br />
      and /or Sweetened fruit with fruit, yoghurt or cream
    </p>

    <h6 style="font-weight: bold">Snack 2</h6>
    <p>
      Milkshake - Serve chilled with a nice garnish <br />
      and /or <br />
      Fruit Juice - Add Polycose or icecream for added calories <br />
      and /or <br />
      Biscuit - Choose the most fattening you can think of
    </p>

    <h6 style="font-weight: bold">Snack 3</h6>
    <p>
      Soup - Open a tin for convenience and add cream or fortified milk <br />
      and/or <br />
      Sandwich - Cut the crusts off and fill with well flavoured fillings. Try
      chicken and mayonnaise or cottage cheese and pineapple or tuna, egg and
      parsley or peanut butter and honey <br />
      and/or <br />
      Cake/Scone - Add cream and jam for an extra treat
    </p>

    <h6 style="font-weight: bold">Snack 4</h6>
    <p>
      Eggs - Scrambled, boiled, poached or fried they make a versatile food. Add
      cream, cheese, herbs and make an omelette. <br />
      and /or <br />
      Cheese - Melted on toast or made into macaroni cheese <br />

      and/or <br />
      Add butter and cream and mash if you find vegetables hard to chew.
    </p>

    <h6 style="font-weight: bold">Snack 5</h6>
    <p>
      Milo - Add sugar, fortified milk, whipped cream and nutmeg for a soothing
      drink. <br />
      and/or <br />
      ice-cream - Top with fruit puree, chocolate sauce or whipped cream <br />
      and/or <br />
      Crackers - Topped with cheese, pate or pickle
    </p>

    <p style="font-weight: bold">
      These snacks are suggestions which can be eaten at any time of theday.
      Forinstance porridge makes a great supper when you are tired!It is warm,
      nutritious, filling and will help you sleep.
    </p>

    <p style="font-weight: bold">
      When your appetite is poor, everything you eat / drink should be ashigh in
      protein and energy as possible. By doing this you will preventweight loss
      and further appetite loss.
    </p>
    <br />
    <h5 style="font-weight: bold">How can I 'Enrich' what I eat?</h5>
    <p>
      • Use cream or fortified milk (see recipes following) where you would
      normally use milk.<br />
      • Add butter or margarine to vegetables. <br />
      • Grate cheese into soup, casseroles or scrambled eggs.<br />
      • Sugar, honey, golden syrup or jam can be added to cereals and
      desserts.<br />
      • Use mayonnaise to 'bind' sandwich fillings. <br />
      • Add skim milk powder to food like custards, stews, scones.
    </p>
    <br />

    <h5 style="font-weight: bold">Fluid Suggestions</h5>
    <p>Make these drinks in large volumes and keep them in the refrigerator.</p>
    <h6 style="font-weight: bold">Fortified Milk</h6>

    <p>
      600 ml (1 pint) milk - silver top3 tablespoons skim milk powder <br />
      Sprinkle milk powder on milk and whisk until lumps dissolve. Flavour if
      desired, with cocoa, vanilla or mashed fruit. <br />
      Use fortified milk where you would normally used milk in tea, coffee or
      cooking.
    </p>

    <h6 style="font-weight: bold">Milkshake</h6>

    <p>
      300 ml fortified milk <br />
      2 tablespoons icecream <br />
      Flavouring <br />
      Whisk ingredients and serve chilled. <br />
      Flavouring suggestions-banana, pureed fruit, chocolate, coffee. Add a dash
      of salt if too sweet.
    </p>

    <h6 style="font-weight: bold">Spider</h6>

    <p>
      1 glass fizzy drink <br />
      1 tablespoon ice cream <br />
      Add icecream to fizzy drink and serve whilst still fizzing
    </p>

    <div class="d-flex justify-content-center">
      <a
        href="{% url 'diet_pdf' %}"
        class="btn btn-primary"
        style="margin-top: 20px; margin-right: 15px"
        >DOWNLOAD PDF</a
      >

      <a
        href="{% url 'info' %}"
        class="btn btn-primary"
        style="margin-top: 20px"
        >BACK</a
      >
    </div>
  </div>
</div>

{% endblock %}
