{% extends "CarePath/layout.html" %} {% block title %} Discharge {% endblock %}
{% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">Discharge Information</h1>
    <br /><br />
    <p>
      Congratulations on completing your treatment! As you transition back to
      the community, our dental team will discharge you from our service. We
      will send a discharge letter to your GP detailing the treatment you
      received while under our care.
    </p>
    <br />
    <h5 style="font-weight: bold">Avoid Tooth Extractions</h5>
    <p>
      It's important to remember that if you need any dental work in the future,
      you <strong>must</strong> inform your private dentist that you have had
      radiotherapy in the head and neck region. This information is crucial
      because radiotherapy can affect how your gums and bones heal. By sharing
      this detail, you can help prevent complications and avoid unnecessary
      tooth extractions.
    </p>
    <br />
    <h5 style="font-weight: bold">Ongoing Oral Health Care</h5>
    <p>
      Taking care of your oral health is vital for your overall well-being.
      Regular dental visits and following the advice given will help you
      maintain a healthy mouth and prevent future issues.
    </p>

    <br />

    <p style="font-weight: bold">
      Congratulations again on completing your head and neck cancer treatment.
      We wish you continued good health and happiness on your journey forward.
      If you have any questions or need further assistance, don't hesitate to
      reach out.
    </p>
  </div>
</div>
{% endblock %}
