{% extends "CarePath/layout.html" %} {% block title %} Dry Mouth {% endblock %}
{% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">Dry Mouth Management</h1>
    <br />
    <h5 style="font-weight: bold">Understanding Dry Mouth (Xerostomia)</h5>

    <p>
      Dry mouth, or xerostomia, is a common issue that can happen for several
      reasons. Let's explore why this might be happening to you:
    </p>
    <p>
      • Cancer Treatment: If you're undergoing radiotherapy, chemotherapy, or
      surgery involving your salivary glands, these treatments can reduce your
      saliva production. <br />
      • Radiation Therapy: When you receive radiation to your head and neck, it
      can damage your salivary glands. This might affect your saliva production
      in the short term or even long term. <br />
      • Chemotherapy Drugs: These medications can alter how your body produces
      saliva, leading to a dry mouth. <br />
      • Medications: Did you know that most prescribed medications can cause dry
      mouth as a side effect?<br />
      • Mouth Breathing: Breathing through your mouth instead of your nose can
      also contribute to dryness. <br />
      • Lifestyle Factors: Your lifestyle and habits, including your age, can
      impact how much saliva you produce. <br />
      • Smoking and Alcohol: Smoking, drinking alcohol excessively, and
      experiencing anxiety can also cause your mouth to feel dry.
    </p>
    <br />
    <h5 style="font-weight: bold">Understanding Saliva and Its Importance</h5>

    <p>
      Saliva is produced by several salivary glands, including the major glands
      (parotid, submandibular, and sublingual) and minor glands located in the
      lips and palate. Here's a quick guide to where these glands are found:
    </p>
    <p>
      • Parotid Glands: Just in front of and below each ear. <br />
      • Submandibular Glands: Under the angle of the lower jaw. <br />
      • Sublingual Glands: Under the tongue. <br />
    </p>
    <p>
      Saliva plays several crucial roles in maintaining oral health. Let's
      explore some of them:
    </p>
    <p>
      • Lubrication Saliva coats the tissues of your mouth, helping to protect
      them from irritation. It also makes it easier to swallow food and keeps
      your mouth moist, which is essential for clear speech. <br />
      • Cleansing Saliva helps to clear away food particles from your teeth and
      mouth, which helps to prevent tooth decay. <br />
      • Remineralisation When bacteria in your mouth feed on sugars, they
      produce acids that can damage your teeth. Dietary acids from foods like
      fruit juices, carbonated drinks, and wine can also harm your teeth. Saliva
      contains ions, such as calcium and phosphate, that help to repair early
      stages of dental decay and neutralize these harmful acids.
    </p>
    In conclusion, saliva has natural antibacterial properties. Without enough
    saliva, your mouth is more prone to tooth decay, gum disease, and infections
    like oral thrush. Dry mouth can also cause cracked lips, mouth soreness, and
    can affect your ability to taste, chew, swallow, and speak. You might even
    wake up at night due to dry mouth.
    <p></p>
    <br />

    <h5 style="font-weight: bold">
      Complications Associated with Xerostomia and Radiotherapy
    </h5>

    <p>
      Understanding the challenges that come with xerostomia (dry mouth) and
      radiotherapy can help us manage and address these issues more effectively.
    </p>

    <h6 style="font-weight: bold">Lack of Lubrication</h6>

    <p>
      When there's not enough saliva, you might find it hard to speak, chew, and
      swallow food. A dry mouth can also reduce your ability to taste food. If
      you wear partial or full dentures, you may notice that they feel loose and
      make eating difficult.
    </p>

    <h6 style="font-weight: bold">Increased Risk of Dental Caries</h6>

    <p>
      Saliva has antibacterial and buffering properties that protect your teeth.
      When saliva production decreases, these protective effects are reduced. In
      a dry mouth, plaque (clusters of bacteria attached to the tooth surface)
      forms more easily, producing acids that attack your tooth structure and
      start the process of dental decay. Without the antibacterial and
      neutralizing effects of saliva, this process speeds up significantly.
    </p>

    <h6 style="font-weight: bold">Difficulties in Wearing Dentures</h6>

    <p>
      A lack of saliva can make dentures less secure. Mechanical trauma from
      ill-fitting dentures can lead to gum ulcers. In severe cases, this could
      lead to osteoradionecrosis.
    </p>

    <h6 style="font-weight: bold">Osteoradionecrosis</h6>

    <p>
      Radiotherapy significantly impairs the tissue's ability to heal after
      trauma, such as a tooth extraction. It's important to extract decayed or
      broken teeth before starting radiotherapy. After radiotherapy, further
      extractions in the treated areas should be avoided, as the bone and
      surrounding tissues may not heal properly. This is a permanent effect of
      radiotherapy.
    </p>

    <h6 style="font-weight: bold">Trismus (Difficulty in Mouth Opening)</h6>

    <p>
      Trismus makes it hard for patients to maintain their oral hygiene and for
      dentists to perform any dental procedures due to the difficult access.
      This condition can significantly impact daily activities like eating and
      speaking.
    </p>

    <br />
    <h5 style="font-weight: bold">How to Manage a Dry Mouth</h5>

    <p>
      Managing dry mouth can significantly improve your comfort and oral health.
      Here are some tips that may help:
    </p>

    <h6 style="font-weight: bold">1. Stay Hydrated:</h6>
    <p>
      Take sips of plain water regularly throughout the day to keep your mouth
      moist. Aim to drink 6-8 glasses (or equivalent) of water per day but
      beware sport drinks may contain high amounts of acid/sugar. You can also
      use grapeseed or rice bran oil rinsed around the mouth as a lubricant.
      Alternately make a 'mouth spray' using a clean plastic spray bottle filled
      with water.
    </p>

    <h6 style="font-weight: bold">
      2. Avoid or Minimise Sweet and Acidic Drinks:
    </h6>
    <p>
      Avoid sweet/acidic drinks like wines, juices, fizzy drinks, and hot drinks
      with sugar or honey. Avoid sweet or sticky foods, or only eat them around
      main mealtimes.
    </p>

    <h6 style="font-weight: bold">3. Be Mindful of Your Diet:</h6>
    <p>
      Avoid spicy, crunchy foods that might irritate your mouth's lining. Also,
      avoid alcohol and alcohol-containing mouthwash. Minimize the frequency and
      amount of sugar in your diet.
    </p>

    <h6 style="font-weight: bold">
      4. Rinse At Least 3 Times Daily With Salt and Baking Soda Mouth Rinse:
    </h6>
    <p>
      Measure half teaspoon into a full glass of warm water OR 2 teaspoons into
      a litre jug of water. Swish the rinse in your mouth, gargle if able, for
      30-60secs, then spit. Use x3-4/day.
    </p>
    <h6 style="font-weight: bold">5. Rinse After Snacks:</h6>
    <p>
      If you snack often, rinse your mouth with salt and baking soda mouth rinse
      afterwards. This mouth rinse is very helpful to rinse away thick sticky
      saliva and to lower mouth acidity.
    </p>

    <h6 style="font-weight: bold">6. Maintain Good Oral Hygiene:</h6>
    <p>
      Regularly remove plaque after meals with a soft manual or electric
      toothbrush and fluoride toothpaste. Use floss or interdental brushes to
      clean between your teeth.
    </p>

    <h6 style="font-weight: bold">7. Use Water Picks:</h6>
    <p>
      These can provide additional mechanical cleaning and help you reach the
      back teeth more effectively.
    </p>

    <h6 style="font-weight: bold">8. Sugar-Free Chewing Gum or Lozenges:</h6>
    <p>
      Chewing sugar-free gum, especially those containing xylitol (a natural
      sugar alcohol found in plants), can also help stimulate any remaining
      functional salivary glands.
    </p>
    <h6 style="font-weight: bold">9. Home Care Product Recommendation:</h6>

    <p>
      a. Use a high fluoride containing toothpaste (e.g.Neutrafluor 5000 Plus)
      or similar product like GC Tooth Mousse Plus to help protect the teeth
      once a day (available from pharmacist without prescription)
    </p>

    <p>
      b. Xerostom® toothpaste contains Fluoride and has the added benefit that
      it does not have the usual soaping agents of other toothpastes (sodium
      lauryl sulphate or SLS) which can make it more comfortable for mouths that
      are sore due to dryness.
    </p>
    <p>
      c. Mouthwashes <br />
      Many people find mouthwashes comforting. Examples include: Biotene Dry
      Mouth Oral Rinse, Colgate Dry Mouth Relief, Oral 7 Mouthwash
    </p>
    <h6 style="font-weight: bold">10. Artificial Saliva Substitutes:</h6>

    <p>
      These are designed to provide a coating, like saliva, over the mouth
      surfaces. Example products include: GC Dry Mouth Gel, Xerostom Saliva
      Substitute Gel, Xerostom Mouth Spray, Biotene Oral Balance Dry Mouth
      Moisturising Gel.
    </p>

    <p>
      a. Oral 7 products contain all the enzymes found naturally in healthy
      saliva that neutralise too-decaying acids and provide relief of dry mouth.
    </p>

    <p>
      b. XyliMelts® are slow-release oral discs that adhere to your gum and coat
      and moisturise your mouth for a few hours. These products can be found at
      Belmont Pharmacy in Auckland or online at www.nz-online-pharmacy.com.
    </p>

    <div class="d-flex justify-content-center">
      <a
        href="{% url 'drymouth_pdf' %}"
        class="btn btn-primary"
        style="margin-top: 20px; margin-right: 15px"
        >DOWNLOAD PDF</a
      >

      <a
        href="{% url 'info' %}"
        class="btn btn-primary"
        style="margin-top: 20px"
        >BACK</a
      >
    </div>
  </div>
</div>
{% endblock %}
