{% extends "CarePath/layout.html" %} {% block title %} Important Information
{%endblock %} {% block content %}

<!-- FAQ Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1>Important Things You Need To Know</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-light rounded h-100 p-5">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            style="width: 65px; height: 65px"
          >
            <i class="fa fa-solid fa-heart text-primary fs-4"></i>
          </div>
          <h4 class="mb-3">Your Mouth Care During Radiotherapy</h4>
          <p class="mb-4">
            You have a lot going on and maybe everyday things like daily tooth
            brushing does not seem like a top priority. Looking after your mouth
            is more important than ever, especially if you are having radiation
            therapy treatment to your head and neck area.
          </p>
          <a class="btn" href="{% url 'mouthcare' %}"
            ><i class="fa fa-plus text-primary" style="margin-right: 12px"></i
            >Read More</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-light rounded h-100 p-5">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            style="width: 65px; height: 65px"
          >
            <i class="fa fa-tooth text-primary fs-4"></i>
          </div>
          <h4 class="mb-3">Dry Mouth Management</h4>
          <p class="mb-4">
            Dry mouth, or xerostomia, is a common issue that can happen for
            several reasons. Let's explore why this might be happening to you.
          </p>
          <a class="btn" href="{% url 'drymouth' %}"
            ><i class="fa fa-plus text-primary" style="margin-right: 12px"></i
            >Read More</a
          >
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-light rounded h-100 p-5">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            style="width: 65px; height: 65px"
          >
            <i class="fa fa-solid fa-question text-primary fs-4"></i>
          </div>
          <h4 class="mb-3">Side Effects</h4>
          <p class="mb-4">
            Patients undergoing radiotherapy can experience several unwanted
            oral side effects, which have both short-term and long-term
            implications.
          </p>
          <a class="btn" href="{% url 'sideeffect'%}"
            ><i class="fa fa-plus text-primary" style="margin-right: 12px"></i
            >Read More</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item bg-light rounded h-100 p-5">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            style="width: 65px; height: 65px"
          >
            <i class="fa fa-solid fa-comments text-primary fs-4"></i>
          </div>
          <h4 class="mb-3">Your Speech</h4>
          <p class="mb-4">
            Radiation therapy, depending on the targeted area, can significantly
            impact your voice and speech. To help maintain muscle function in
            the mouth, it's important to perform specific exercises.
          </p>

          <a class="btn" href="{% url 'speech' %}"
            ><i class="fa fa-plus text-primary" style="margin-right: 12px"></i
            >Read More</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item bg-light rounded h-100 p-5">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            style="width: 65px; height: 65px"
          >
            <i class="fa fa-solid fa-utensils text-primary fs-4"></i>
          </div>
          <h4 class="mb-3">Diet and Appetite</h4>
          <p class="mb-4">
            Sometimes there are days when you just do not feel like eating. You
            may be recovering from an illness, have just left hospital or just
            lost your appetite. Everybody knows to be healthy you have to eat
            and drink regularly.
          </p>

          <a class="btn" href="{% url 'diet' %}"
            ><i class="fa fa-plus text-primary" style="margin-right: 12px"></i
            >Read More</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-light rounded h-100 p-5">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            style="width: 65px; height: 65px"
          >
            <i class="fa fa-solid fa-check text-primary fs-4"></i>
          </div>
          <h4 class="mb-3">Maintaining Oral Health</h4>
          <p class="mb-4">
            Maintaining good oral hygiene is essential for your overall health,
            especially after oncology treatment. Here are some helpful tips to
            keep your mouth in the best condition.
          </p>
          <a class="btn" href="{% url 'mouthcare_post' %}"
            ><i class="fa fa-plus text-primary" style="margin-right: 12px"></i
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
