{% extends "CarePath/layout.html" %} {% block title %} MDM {% endblock %} 
{% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">The Multidisciplinary Meeting (MDM)</h1>
    <br /><br />
    <p>
      The Multidisciplinary Meeting (MDM) is a special clinic where a team of
      dedicated health professionals from different areas come together to
      discuss and review cases involving head and neck issues. This team
      includes nurses, doctors, dentists, and other support staff who all
      collaborate to provide the best care possible. While many patients at the
      MDM have cancer, the clinic also sees individuals with benign
      (non-cancerous) conditions. The goal of your visit to the MDM is for this
      team to carefully review your situation and explore the best treatment
      options for you. After the meeting, you’ll have a one-on-one discussion
      with one of the doctors to talk through the options and next steps in your
      care. We're here to support you and help guide you through this process
      with compassion and understanding.
    </p>
    <br />
    <h5 style="font-weight: bold">Getting ready for this appointment</h5>
    <p>
      Your appointment may be up to five hours long. Please arrange to be there
      from 8:00am until the early afternoon. Eat and drink as normal prior to
      the appointment (you do not need to fast). During this time different
      health professionals will come and meet with you. There are many patients
      that the MDM team will review and discuss; this could take time.
      Afterwards, a doctor will meet with you and your whānau/support person to
      talk about your treatment options. Feel free to bring along your favourite
      book, magazine or puzzle to keep yourself busy during the waiting times.
      Free Wi-Fi is also available.
    </p>
    <br />
    <h5 style="font-weight: bold">Your clinicians</h5>
    <p>
      Your treatment and care will involve a number of healthcare professionals
      who can support you in different ways. You may meet some of them on the
      day. Below are some of the people you may meet and what they do.
    </p>
    <p>
      1. Clinical Nurse Specialists (CNS) - Nurses with special knowledge of the
      head and neck. They will be your key contact person during your treatment.
      <br />
      2. Head and Neck Surgeons - Doctors who perform surgery to treat head and
      neck problems.
      <br />
      3. Speech Language Therapists - Health professionals who can help you with
      talking and swallowing.
      <br />
      4. Reconstructive Surgeons - Doctors who perform surgery to improve
      structure and function of areas damaged by cancer.
      <br />
      5. Dietitians - A health professional that can help you with eating and
      drinking.
      <br />
      6. Radiation Oncologists - Doctors trained in the use of radiation to
      treat cancer.
      <br />
      7. Medical Oncologists - Doctors trained in the use of medicines to treat
      cancer.
      <br />
      8. Dentist/Oral Medicine Specialists - Doctors who support you to look
      after your teeth and mouth.
      <br />
      9. Palliative Care Specialists - Doctors and nurses who can help you with
      the management of symptoms, such as pain.
    </p>
    <br />
    <h5 style="font-weight: bold">What happens at the MDM</h5>
    <p>
      On arrival to the Outpatient Clinic you and your whānau/support person
      will be directed to a clinic room. The clinic room will be your base for
      the day. Most of your time will be spent in this room. During the morning
      members of the MDM team will come and meet with you privately. If the MDM
      is very busy you may be asked to wait in the main waiting room.
    </p>
    <br />
    <h6 style="font-weight: bold">Clinical Examination</h6>
    <p>
      Part of the MDM process is to do a physical examination of you. This is
      done so the team has up to date information to base a decision on. The
      examination will take place in a private room. Two doctors and Clinical
      Nurse Specialists (CNS), including your local CNS, will be present. Whānau
      and support people are welcomed and encouraged to be with you. The
      examination takes about 10 minutes. The examination will include a video
      recording of the affected area of your head or neck by inserting a camera
      scope (a long, thin bendy tube with a camera attached) into your nose and/
      or throat. You will get a numbing spray before the camera is inserted. All
      of this will be explained to you in more detail at the time. You will be
      able to ask questions. The video and audio are linked from the examination
      room to another room where the wider MDM team is. They are able to watch
      the examination and may ask questions through a microphone. After the MDM
      team has had a discussion about your case, a doctor will come and discuss
      your treatment options with you. They will also give you some written
      information. There may be a long wait for you to have this discussion with
      the doctor as there are many patients for the MDM team to review and
      discuss. Thank you for your patience during this time.
    </p>
    <br />
    <h6 style="font-weight: bold">Support person</h6>
    <p>
      Most patients find it helpful to bring a whānau (family) member, a friend
      or other support person. Detailed information about your condition will be
      shared with you, including information about your treatment. It can be
      difficult to remember all the information given. A support person can help
      you understand the information and write things down. They can make sure
      your questions are answered.
    </p>
    <br />
    <h6 style="font-weight: bold">Medications</h6>
    <p>
      Please bring a list of any medications you are taking. If you require any
      medications during the day, please bring them with you.
    </p>
    <br />
    <h6 style="font-weight: bold">Food</h6>
    <p>
      A lunch box (usually containing a sandwich, fruit and snack) is provided
      for you as the person attending the MDM. If you have special dietary
      requirements, please bring your own food with you. A lunch box is not
      provided for the support people so please bring food for them.
    </p>
    <br />
    <h6 style="font-weight: bold">Interpreter</h6>
    <p>
      If you or your whānau need help understanding English on the day of your
      MDM appointment, please let your clinical nurse specialist know.
    </p>
  </div>
</div>
{% endblock %}
