{% extends "CarePath/layout.html" %} {% block title %} Mouthcare {% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">
      Your Mouth Care For Head & Neck Oncology Patients
    </h1>
    <br /><br />
    <p>
      You have a lot going on and maybe everyday things like daily tooth
      brushing does not seem like a top priority. Looking after your mouth is
      more important than ever, especially if you are having radiation therapy
      treatment to your head and neck area. <br />
      Keep going with your twice daily brushing, including very gently brushing
      your gums. Some people find their electric toothbrush is too much during
      treatment, if so, use a soft manual toothbrush instead.
    </p>
    <br />
    <h5 style="font-weight: bold">Brushing</h5>

    <p>
      Use a soft toothbrush with the smallest head you can find. A child-sized
      brush has extra-soft bristles, or Colgate's Cushion-Clean is another good
      option. Use gentle “jiggle” motions without pressing hard, especially on
      your gums. <br />
      If it feels sore to brush, try softening the bristles using hot water
      first (then put on toothpaste). Use Difflam rinse or spray we have
      provided (for some numbing effect) before brushing. <br />
      Please let us know if you are not managing to use your toothbrush. We can
      find alternative methods to help you, however toothbrushes are the best
      tool for removing plaque biofilms (communities of bad bacteria that grow
      on your teeth). Any other method used would be a short-term solution only.
      <br />
      Note: If your treatment includes surgery for a resection such as a
      mandibulectomy or glossectomy, please follow the oral cleaning advice from
      your oncology team. You can start brushing again when wounds have healed.
    </p>
    <br />

    <h5 style="font-weight: bold">Toothpastes</h5>

    <p>
      Most toothpastes contain fluoride, this is excellent for helping control
      the plaque/harmful bacteria that can cause disease of your teeth and gums.
      <br />
      Most toothpaste also contain SLS (sodium lauryl sulphate), this makes your
      toothpaste foam, but can cause more drying and irritation to your mouth.
    </p>
    <br />
    <h6 style="font-weight: bold">
      Options for fluoride-containing, SLS-free toothpastes are:
    </h6>

    <p>
      • Oral 7 Moisturising toothpaste, Chemist Warehouse is likely cheapest
      <br />
      • Grin Natural Kids Berry-licious with fluoride toothpaste. Note: This is
      suitable for adults <br />
      • Colgate Sensitive PRO_Relief (But only Repair & Prevent) <br />
      • Sensodyne Daily Care (avoid other variants) <br />
      If you find your mouth is burning try this toothpaste with Vitamins E & B5
      at Chemist Warehouse or online at smilestore.co.nz Xerostom Dry Mouth
      toothpaste <br />
      If you find toothpaste flavours become too strong try: Oranurse
      unflavoured toothpaste, online at toothshop.co.nz
    </p>
    <br />
    <h5 style="font-weight: bold">Flossing</h5>

    <p>
      If you are a regular flosser or interdental brush user, try and keep using
      them. Stop if gum bleeding increases or it becomes sore. Wood toothpicks
      should not be used. <br />
      Some find flossers on handles are often easier than regular floss. <br />
      Note: If you don't normally floss or use interdental brushes please do not
      start trying this during your treatment to avoid bleeding from your gums.
    </p>

    <br />
    <h5 style="font-weight: bold">Mouthwashes</h5>

    <p>
      If you are a mouthwash user, please stop using them during treatment. Many
      contain ingredients that can make your mouth feel worse. We will provide
      or advise you of suitable alternatives, as needed, throughout your
      treatment.
    </p>
    <br />
    <h5 style="font-weight: bold">Mucositis</h5>

    <p>
      This is a common side effect during treatment that affects the lining of
      your mouth and throat (lining = mucosa, it is = inflammation). During
      treatment your saliva may stop producing and a dry mouth makes you more
      susceptible to painful ulcers, infections and irritation inside your
      mouth. If the mucositis is severe, it could even interrupt your planned
      treatment sessions.
    </p>

    <br />
    <h6 style="font-weight: bold">
      Oral infections may lead to systemic infection or sepsis.
    </h6>

    <p>
      These guidelines will help you manage the potential side effects of
      mucositis during treatment: <br />
      • One of the most effective ways is to make a salt and baking soda mouth
      rinse. <br />
      • Start using this rinse even before chemo or radiotherapy begins - it may
      not feel like it is “doing” anything, but it is soothing the lining of
      your mouth, helps remove food, and keeps your teeth protected from acidic
      attacks. The salt helps to break down thick saliva.
    </p>

    <br />
    <h5 style="font-weight: bold">Salt & Baking Soda Mouth Rinse Recipe</h5>

    <p>
      • Once your Radiotherapy/chemo treatments have started rinse EVERY HOUR:
      just 2-3 small mouthfuls each time. <br />
      • Use a 1 litre jug or bottle (with lid); add 1 teaspoon of regular salt
      and 1 teaspoon of baking soda (or sodium bicarbonate) to 1 litre of warm
      water. Shake bottle well before each use, sip, and hold in your
      mouth/swish for at least 30 seconds & spit out. <br />
      • Any leftover at the end of the day should be thrown out. Make a new
      mixture daily. <br />
      • If you find the rinse begins to sting the reduce the amount of salt.
      <br />
      • Try not to stop using this rinse during treatments. <br />
      • After radiotherapy treatment has finished continue to rinse with baking
      soda, especially after meals or as mouth feels dry. <br />
      • After treatments have finished you may prefer to use a cup or glass for
      your rinse after meals. Measure ¼ - ½ of regular salt and ¼ - ½ teaspoon
      of baking soda. Dilute into a full glass (250ml) of plain warm water, stir
      then sip, swish and hold in mouth for as long as possible, then spit.
      <br />
    </p>

    <br />

    <h5 style="font-weight: bold">Denture care</h5>

    <p>
      If you wear dentures, please remove them every night (if not already doing
      this). Brush with a toothbrush that hasn't had toothpaste on it. Clean
      using a mild soap, rinse, and soak denture in plain water overnight. This
      will help remove debris and prevent oral thrush, a fungal infection.
      <br />
      We may sometimes prescribe a medicine to treat a fungal infection and/or a
      cleanser for your denture.
    </p>

    <br />
    <h5 style="font-weight: bold">Oral Thrush</h5>

    <p>
      When your immune system becomes compromised you are more susceptible to
      fungal infections, commonly known as Oral Thrush. If diagnosed, we would
      prescribe a medicine to treat this infection so it doesn't take over
      inside your mouth.
    </p>

    <br />
    <h5 style="font-weight: bold">Other Dry Mouth Products & Suggestions</h5>

    <p>
      • We provide samples of Oral 7 mouth rinse, gel & toothpaste to help
      relieve some symptoms of dry mouth, and help protect your teeth and mouth
      lining. <br />
      • Just before bedtime brush your teeth as usual, and then apply a
      pea-sized amount of Oral 7 gel to inside the lips, cheeks, and gums with
      your fingertip. Avoid drinking or rinsing for a minimum of 30 minutes
      after applying. <br />
      • During the night, if needed, sip plain still water only. <br />
      • Try sugar-free gum (chew for no more than 10-15 minutes) to stimulate
      saliva. <br />
      • Try gum, or pastille/lozenge containing a natural sugar called Xylitol
      (pronounced Zy-litol) from health shops or online. Xylitol is a great food
      source for your good bacteria in our mouths - the bacteria we want to
      encourage! The nasty bacteria can't digest xylitol so slows plaque growth
      on your teeth. Xylitol can stimulate saliva too. <br />
      • Oracoat Xylimelts is a product that contains xylitol and adheres to your
      gum slowly dissolving over 4-5 hours. Available online or at Bargain
      Chemist. <br />
      • Avoid acidic, spicy, sharp or crunchy foods (including sucking vitamin C
      lozenges), that may cause damage to the delicate lining of your mouth.
      <br />
      • Sip plain water frequently throughout the day; avoid fizzy or carbonated
      water that can damage your teeth long term. <br />
      • Protect your lips, preferably using a water-soluble lip balm however DO
      NOT apply before radiotherapy treatment. <br />
      • You may also find relief using DentaMed gel (online) or the Xerostom
      range. <br />
      • You can try Biotene however it no longer contains the enzymes that used
      to make it an effective product. <br />
    </p>

    <p>
      A NOTE ABOUT SMOKING / VAPING: When smoking/vaping is continued during and
      after your radiotherapy, it can increase the severity and duration of
      mucositis, and makes dry mouth worse, potentially affecting a good
      outcome.
    </p>

    <br />
    <h5 style="font-weight: bold">After Radiotherapy Treatment</h5>

    <p>
      Expect your mouth to feel dry and sometimes uncomfortable/painful for some
      time after your treatments have finished. Please keep looking after your
      mouth, teeth & gums. <br />

      It's important to keep using the baking soda rinses and sipping plain
      water regularly. Dry mouth contributes to increased tooth decay. <br />

      Approximately 6-8 weeks after completing your treatment we will offer you
      a follow up appointment with the hospital dentistry team in Auckland.
      <br />

      You will see a dentist and/or oral health therapist to provide dental
      treatment as needed, and create a plan to help you manage your oral
      health.

      <br />
    </p>
    <br />
    <h6 style="font-weight: bold">
      It is very important that you tell your regular dentist, or any dental
      visits you attend in future, that you have received radiotherapy to your
      head and neck region. This may affect their ability to provide some dental
      work, especially the removal of teeth.
    </h6>
    <br />
    <p>
      Please ask if you have any specific questions or concerns regarding your
      mouth care.
    </p>
  </div>
</div>


<div class="d-flex justify-content-center">
    <a href="{% url 'mouthcare_pdf' %}" class="btn btn-primary"  style="margin-top: 20px;">DOWNLOAD PDF</a>
</div>


{% endblock %}
