{% extends "CarePath/layout.html" %} {% block title %} Mucositis {% endblock %}
{% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">
      Oral Mucositis and Dry Mouth Support Clinic
    </h1>
    <br /><br />
    <p>
      This clinic is available to patients receiving radiation treatment to the
      oral cavity or mouth. It runs simultaneously with your radiotherapy
      treatment and occurs each Thursday morning between 8.30 am to 12 pm. Your
      treatment team will refer you to this service.
    </p>
    <br />
    <h5 style="font-weight: bold">Location:</h5>
    <p>
      Dental Clinic, Level 6, outpatients, Building 1, Auckland City Hospital.
      Follow the green line to building 1, take the orange bank lift to level 6
      and turn left. Outpatient clinic is on the Mt Eden side of the building.
    </p>
    <br />
    <h5 style="font-weight: bold">Purpose of this clinic</h5>
    <p>
      During your head and neck radiation treatment, with or without
      chemotherapy, you may experience mucositis (inflammation on your mouth
      lining) and xerostomia (dry mouth) as side effects. Mucositis occurs when
      cancer treatments damage the cells lining your mouth or other parts of the
      gastrointestinal tract (gut). Xerostomia is having a dry mouth. It happens
      when cancer treatment damages the salivary glands, so they make less
      saliva (spit).<br />
      You may experience symptoms like irritation, a stinging sensation, and
      pain. You may also notice changes in your taste and sensation, which can
      make food seem less enjoyable. Additionally, you could face challenges
      with swallowing, speaking, and opening your mouth. <br />
      To help you manage these issues and make your treatment as comfortable as
      possible, our dedicated team is here to support you. They will monitor
      your oral condition, pain management, speech, diet and physical health,
      and work with you to address any concerns and provide strategies to ease
      these side effects, ensuring you get the care and comfort you need
      throughout your treatment journey.
    </p>

    <br />
    <h5 style="font-weight: bold">What to expect</h5>
    <p>
      You will have multiple visits to this clinic depending on the length of
      your radiotherapy treatment. Upon arrival, you will be asked to fill out a
      questionnaire at each visit. Your responses help us support you through
      any side effects from your radiation therapy. This clinic is run by a
      multidisciplinary team, you will be seen by a qualified Oral health
      therapist (OHT) or dentist, a Speech-Language Therapist, and Specialist
      Oncology Nurses. They will help you navigate oral health conditions during
      and following either surgery, radiotherapy, chemotherapy or a combination
      of these. They will assess your mouth and provide an oral care regime
      throughout your cancer treatments as you are more vulnerable to mouth
      infections.
    </p>
    <br />

    <br />
    <h5 style="font-weight: bold">Members of the team</h5>
    <h6 style="font-weight: bold">Oral health therapist (OHT):</h6>
    <p>
      Qualified to works as both a dental hygienist and a dental therapist,
      providing periodontal (gum) care for all ages and overall dental care for
      children and adolescents.
    </p>

    <br />

    <h6 style="font-weight: bold">Speech language therapist (SLT):</h6>
    <p>
      A speech and language therapist is a health professional who diagnoses and
      treats people with communication, eating, drinking and swallowing
      difficulties. Providing advice, information, education and support to
      people with communication and swallowing difficulties, their carers and
      their families/whanau.
    </p>

    <br />
    <h6 style="font-weight: bold">Oncology nurse specialist:</h6>
    <p>
      Senior nurse that specialises in the Head and Neck treatment area.
      Available for clinical advice about your treatment, management of side
      effects, referrals to other clinical staff.
    </p>

    <br />
    <h6 style="font-weight: bold">Dentist:</h6>
    <p>
      A registered health professional who examines, diagnoses, treats and
      advises patients on dental issues during treatment.
    </p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a href="{% url 'journey' %}" class="btn btn-primary" style="margin-top: 20px"
    >BACK</a
  >
</div>

{% endblock %}
