{% extends "CarePath/layout.html" %} {% block title %} Patient Profile
{%endblock %} {% block content %}

<div style="display: flex; min-height: 60vh; margin: 0 5px">
  <!-- Sidebar -->
  <div
    class="sidebar"
    style="
      position: relative;
      min-height: 74vh;
      width: 270px;
      margin-right: 20px;
    "
  >
    <div class="user-info">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p>{{ user.role }}</p>
    </div>
    <div class="nav flex-column flex-grow-1">
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'home' %}">Home</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'patient_profile' user.id %}">My Profile</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'patient_password' %}">Change Password</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'patient_appt' %}">My Appointment</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'patient_communication' %}">Communication</a>
      </div>
    </div>
    <!-- Log Out link -->
    <form
      id="logout-form"
      action="{% url 'logout' %}"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
    </form>
    <a
      href="#"
      class="nav-item nav-link"
      style="
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #2a72b9;
        color: white;
        text-decoration: none;
        border-top: 1px solid #2a72b9;
        display: block;
      "
      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >Log Out</a
    >
  </div>

  <!-- Main Content -->

  <div style="flex-grow: 1; padding: 10px; text-align: left">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">
        <div style="padding: 8px; text-align: left">
          {% if is_editable %}
          <h2>Your Profile</h2>
          <p>Click on the field to modify</p>
          {% else %}
          <h2>Patient Profile</h2>
          {% endif %}

          <hr />
          <form method="post" action="{% url 'patient_profile' user.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                value="{{ user.first_name }}"
                pattern="[A-Za-z\s]+"
                title="First name should contain only letters."
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                value="{{ user.last_name }}"
                pattern="[A-Za-z\s]+"
                title="Last name should contain only letters."
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>
            <div class="form-group">
              <label for="last_name">Date of Birth:</label>
              <input
                type="text"
                class="form-control"
                id="date_of_birth"
                name="date_of_birth"
                value="{{ user.date_of_birth|default_if_none:''|date:'d-m-Y' }}"
                placeholder="DD-MM-YYYY"
                max="{{ today_date }}"
                title="Date of birth cannot be in the future. "
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="{{ user.email }}"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number:</label>
              <input
                type="text"
                class="form-control"
                id="phone_number"
                name="phone_number"
                value="{{ user.phone_number }}"
                pattern="[0-9]+"
                title="Phone number should contain only numbers."
                required
              />
            </div>
            <div class="form-group">
              <label for="address">Address:</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                value="{{ user.address|default_if_none:'' }}"
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>
            <!-- Hidden field for patient ID -->
            <input
              type="hidden"
              id="user_id"
              name="user_id"
              value="{{ user.id }}"
            />

            {% if is_editable %}
            <button type="submit" class="btn btn-primary">
              Update Profile
            </button>
            {% else %}
            <a
              href="{% url 'provider_search_pt' %}"
              class="btn btn-secondary"
              style="margin-right: 15px"
              >Back to Search</a
            >
            <a
              href="{% url 'book_pt_appointment' user.id %}"
              class="btn btn-success"
              >Book Appointment</a
            >
            {% endif %}
          </form>

          <!-- {% if messages %}
          <div class="alert alert-success mt-3">
            {% for message in messages %} {{ message }} {% endfor %}
          </div>
          {% endif %} -->

          {% if messages %}
          <div class="mt-3">
            {% for message in messages %}
            <div
              class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %}"
            >
              {{ message }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function capitalizeFirstLetter(inputField) {
    // Capitalize the first letter and keep the rest of the string as it is
    inputField.value =
      inputField.value.charAt(0).toUpperCase() + inputField.value.slice(1);
  }
</script>
{% endblock %}
