{% extends "CarePath/layout.html" %} {% block title %} Post treatment Dental
{%endblock %} {% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">Post-treatment Dental Visits</h1>
    <br /><br />
    <p>
      Congratulations on completing your oncology treatment! As you move
      forward, taking care of your oral health is a key part of your recovery.
      You will soon have an appointment with our dental team, where we'll
      examine your mouth and address any remaining dental needs. <br /><br />

      To allow your body time to adjust after radiotherapy, we'll arrange your
      dental visit approximately 6-8 weeks after your treatment. This will help
      ensure that your oral health is properly assessed and managed.
      <br /><br />
      <strong>Location:</strong> Dental Clinic at Greenlane Clinical Centre
      <br />
      <strong>Address: </strong> Hospital and Specialists Dentistry, Level 1,
      Building 4, Greenlane Clinical Centre
    </p>
    <br />
    <h5 style="font-weight: bold">What to Expect at Your Dental Appointment</h5>
    <p>
      During your dental appointment, you will usually see both a dentist and a
      dental hygienist. They work together to ensure that all aspects of your
      oral health are addressed. You might need a few visits to complete all the
      necessary treatments. <br />
      Here's what will typically happen:
    </p>
    <br />
    <h6 style="font-weight: bold">1. Comprehensive Examination</h6>
    <p>
      <strong>X-rays: </strong> X-rays will be taken to provide a detailed view
      of your teeth and jaw. <br />
      <strong>Teeth and Gums:</strong> Although the dentist may have planned
      some treatments before your radiotherapy, they will reassess your teeth
      and gums, checking for any new issues. <br />
      <strong>Dry Mouth and Mucositis: </strong> They will evaluate any problems
      with dry mouth and check for signs of mucositis to see how it is healing.
    </p>

    <br />
    <h6 style="font-weight: bold">2. Follow-Up Treatment</h6>
    <p>
      Based on their findings, the team will provide any needed follow-up
      treatment. This may include: <br />
      • <strong>Cleaning: </strong> A thorough cleaning to remove plaque and
      tartar. <br />
      • <strong>Fillings:</strong> Treatment for any cavities. <br />
      • <strong>Extractions:</strong> Removal of any problematic teeth if
      necessary. <br />
      • <strong>Dentures:</strong> Refer you to a prosthodontist for denture
      consideration if needed.
    </p>
    <br />

    <h6 style="font-weight: bold">3. Discussion and Advice</h6>
    <p>
      The dentist and hygienist will: <br />
      • Discuss any concerns or issues you might have. <br />
      • Provide guidance on maintaining good oral hygiene. <br />
      • Offer advice on managing any side effects from your treatment. <br />
      <br />
      If you have any questions or need more information, please feel free to
      ask during your appointment. We're here to support you and ensure your
      oral health is in the best possible condition.
    </p>
    <br />
    <h5 style="font-weight: bold">Tips for Maintaining Your Oral Health</h5>
    <p>
      Maintaining good oral hygiene is essential for your overall health,
      especially after oncology treatment. Here are some helpful tips to keep
      your mouth in the best condition:
    </p>

    <h6 style="font-weight: bold">1. Have a Good Homecare Routine</h6>
    <p>
      • <strong>Brushing</strong> <br />
      <strong style="margin-left: 30px">o Brush Twice Daily:</strong> Brush your
      teeth every morning and night. <br />
      <strong style="margin-left: 30px">o Use a Soft Toothbrush: </strong>A soft
      bristle toothbrush is gentle on your gums and teeth. <br />
      <strong style="margin-left: 30px">o High Fluoride Toothpaste:</strong> Use
      a high fluoride toothpaste like Colgate NeutraFlour 5000 for added
      protection. <br />
      • <strong>Cleaning Between Teeth</strong> <br />
      <strong style="margin-left: 30px">o Daily Cleaning:</strong> Make sure to
      clean between your teeth every day. <br />
      <strong style="margin-left: 30px">o Floss or Interdental Brushes:</strong>
      Use floss or interdental brushes to remove food particles and plaque
      between your teeth. <br />
      • <strong>Denture Care</strong> <br />
      <strong style="margin-left: 30px">o Remove and Clean: </strong>Take out
      your dentures every night and clean them thoroughly. Denture cleaning
      tablets can help keep them fresh.
    </p>

    <br />
    <h6 style="font-weight: bold">2. Managing Dry Mouth</h6>
    <p>
      Dry mouth is a common issue after treatment. Here's how to manage it
      effectively: <br />
      • <strong>Stay Hydrated:</strong> Drink plenty of water throughout the
      day. <br />
      • <strong>Use Baking Soda Mouth Rinses: </strong>These rinses can help
      remove thick, sticky saliva and lower mouth acidity. <br />
      • <strong>Saliva Substitutes:</strong> Consider using products like Oral 7
      to help manage dry mouth. <br />
      • <strong>Chew Sugar-Free Gum:</strong> This can stimulate saliva flow and
      help with dryness.
    </p>

    <br />
    <h6 style="font-weight: bold">3. Dietary Advice</h6>
    <p>
      • <strong>Eat a Balanced Diet:</strong> Choose foods that are soft and
      easy to chew, and avoid very hot, spicy, or crunchy foods that may
      irritate your mouth's lining. <br />
      • <strong>Limit Sugary and Acidic Foods:</strong> Reduce consumption of
      sugary and acidic foods and drinks to lower the risk of cavities. <br />
      • <strong>Snack Wisely:</strong> If you snack frequently, rinse your mouth
      with water afterwards to help clean away food particles and reduce
      acidity. <br />
      • <strong>Minimize Caffeine and Alcohol:</strong> Avoid excessive caffeine
      and alcohol, and opt for alcohol-free mouthwash if needed.
    </p>
    By following these tips, you can maintain a healthy mouth and reduce the
    risk of complications. If you have any questions or need additional advice,
    please ask during your dental appointments. We're here to support you every
    step of the way.
    <p></p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a href="{% url 'journey' %}" class="btn btn-primary" style="margin-top: 20px"
    >BACK</a
  >
</div>

{% endblock %}
