{% extends "CarePath/layout.html" %} {% block title %} Pre treatment Dental 
{% endblock %} {% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">Pre-treatment Dental Assessment</h1>
    <br /><br />
    <p>
      A dental assessment and treatments before your cancer treatments are
      crucial steps in your cancer care journey. By addressing dental issues
      early, we can prevent complications, reduce the risk of serious conditions
      like osteoradionecrosis, and maintain your oral health.
    </p>
    <br />
    <h5 style="font-weight: bold">
      Importance of pre-radiotherapy dental assessment
    </h5>
    <br />
    <h6 style="font-weight: bold">1. Preventing Complications</h6>
    <br />
    <p>
      Radiotherapy can weaken your immune system and reduce saliva production,
      making your mouth more susceptible to infections and decay. Addressing
      existing dental issues beforehand helps prevent these complications.
    </p>
    <br />
    <h6 style="font-weight: bold">
      2. Reducing the Risk of Osteoradionecrosis (ORN)
    </h6>
    <br />
    <p>
      ORN is a condition where the jawbone becomes damaged due to radiation. By
      treating dental problems such as infections or extractions before
      radiotherapy, we reduce the risk of developing ORN.
    </p>
    <br />
    <h6 style="font-weight: bold">3. Maintaining Oral Health</h6>
    <br />
    <p>
      Healthy teeth and gums are crucial for your comfort and quality of life. A
      dental assessment ensures that your mouth is in the best possible
      condition before treatment begins.
    </p>

    <br />
    <h5 style="font-weight: bold">
      What to Expect During Your Dental Assessment
    </h5>
    <br />
    <h6 style="font-weight: bold">1. Comprehensive Examination</h6>
    <br />
    <p>
      Your dentist will perform a thorough examination of your mouth, teeth, and
      gums. This may include X-rays to get a detailed view of your dental
      health.
    </p>

    <br />
    <h6 style="font-weight: bold">2. Treatment Plan</h6>
    <br />
    <p>
      Based on the examination, your dentist will create a personalised
      treatment plan. This plan may include cleanings, fillings, extractions, or
      other procedures to address any issues.
    </p>

    <br />
    <h6 style="font-weight: bold">3. Preventive Care</h6>
    <br />
    <p>
      Your dentist will provide advice on maintaining good oral hygiene during
      radiotherapy. This may include using fluoride treatments, special
      mouthwashes, and other tips for managing dry mouth and mucositis.
    </p>

    <br /><br />

    <h5 style="font-weight: bold">
      Common Dental Treatments Before Radiotherapy
    </h5>

    <br />
    <h6 style="font-weight: bold">1. Cleanings and Fillings</h6>
    <br />
    <p>
      Professional cleanings remove plaque and tartar, reducing the risk of gum
      disease. Fillings repair cavities to prevent further decay.
    </p>

    <br />
    <h6 style="font-weight: bold">2. Extractions</h6>
    <br />
    <p>
      In some cases, teeth that are severely damaged or at risk of causing
      problems may need to be removed. This is done to prevent infections during
      and after radiotherapy, and to minimise the risk of Osteoradionecrosis
      (ORN).
    </p>

    <br />
    <h6 style="font-weight: bold">3. Fluoride Treatments</h6>
    <br />
    <p>
      Fluoride strengthens your teeth and helps protect against decay. Your
      dentist may recommend using fluoride gel or rinse regularly.

      <br />
    </p>
    <br />
    <h6 style="font-weight: bold">
      4. Tips for Maintaining Oral Health During Radiotherapy
    </h6>
    <br />
    <p>
      Your dentist will also provide valuable information on how to keep your
      oral health in top shape during radiotherapy and offer tips on minimising
      common side effects.
    </p>
  </div>
</div>
{% endblock %}
