{% extends "CarePath/layout.html" %} {% block title %} My Appointment
{%endblock%} {% block content %}

<div style="display: flex; min-height: 60vh; margin: 0 5px">
  <!-- Sidebar -->
  <div
    class="sidebar"
    style="
      position: relative;
      min-height: 74vh;
      width: 270px;
      margin-right: 20px;
    "
  >
    <div class="user-info">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p>{{ user.role }}</p>
    </div>
    <div class="nav flex-column flex-grow-1">
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'home' %}">Home</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_profile' %}">My Profile</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_password' %}">Change Password</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_appt' %}">My Appointment</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_search_pt' %}">Book a New Appointment</a>
      </div>
    </div>
    <!-- Log Out link -->
    <form
      id="logout-form"
      action="{% url 'logout' %}"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
    </form>
    <a
      href="#"
      class="nav-item nav-link"
      style="
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #2a72b9;
        color: white;
        text-decoration: none;
        border-top: 1px solid #2a72b9;
        display: block;
      "
      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >Log Out</a
    >
  </div>

  <!-- Main Content -->

  <div style="flex-grow: 1; padding: 10px; text-align: left">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">
        <div style="padding: 8px; text-align: left">
          <h2>My Appointments</h2>

          {% if appointment_data %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Finish Time</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Patient</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointment_data %}
              <tr>
                <td>{{ appointment.date|date:'d-m-Y' }}</td>
                <td>{{ appointment.start_time }}</td>
                <td>{{ appointment.finish_time }}</td>
                <td>{{ appointment.duration|floatformat:0 }} minutes</td>
                <td>{{ appointment.location }}</td>
                <td>{{ appointment.notes|default:"No notes available" }}</td>
                <td>{{ appointment.patient_name }}</td>
                <td>
                  <!-- Button to navigate to view patient and appointment info -->
                  <a
                    href="{% url 'view_more_appt_info' appointment.patient_id appointment.appointment_id %}"
                    class="btn btn-info btn-sm"
                    >View Info</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No appointments found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
