{% extends "CarePath/layout.html" %} {% block title %} Healthcare Provider
Profile {% endblock %} {% block content %}

<div style="display: flex; min-height: 60vh; margin: 0 5px">
  <!-- Sidebar -->
  <div
    class="sidebar"
    style="
      position: relative;
      min-height: 74vh;
      width: 270px;
      margin-right: 20px;
    "
  >
    <div class="user-info">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p>{{ user.role }}</p>
    </div>
    <div class="nav flex-column flex-grow-1">
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'home' %}">Home</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_profile' %}">My Profile</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_password' %}">Change Password</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_appt' %}">My Appointment</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_search_pt' %}">Book a New Appointment</a>
      </div>
      
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_feedback' %}" style="position: relative">
          View Feedback {% if unread_feedback_count > 0 %}
          <!-- Red dot styled to be positioned at the top-right of the text -->
          <span
            class="badge badge-danger"
            style="position: absolute; top: -5px; right: -10px"
            >●</span
          >
          {% endif %}
        </a>
      </div>
    </div>
    <!-- Log Out link -->
    <form
      id="logout-form"
      action="{% url 'logout' %}"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
    </form>
    <a
      href="#"
      class="nav-item nav-link"
      style="
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #2a72b9;
        color: white;
        text-decoration: none;
        border-top: 1px solid #2a72b9;
        display: block;
      "
      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >Log Out</a
    >
  </div>

  <!-- Main Content -->

  <div style="flex-grow: 1; padding: 10px; text-align: left">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">
        <div style="padding: 8px; text-align: left">
          <h2>Your Profile</h2>
          <p>Click on the field to modify</p>
          <hr />
          <form method="post" action="{% url 'provider_profile' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                value="{{ user.first_name }}"
                pattern="[A-Za-z\s]+"
                title="First name should contain only letters."
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                value="{{ user.last_name }}"
                pattern="[A-Za-z\s]+"
                title="Last name should contain only letters."
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="{{ user.email }}"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number:</label>
              <input
                type="text"
                class="form-control"
                id="phone_number"
                name="phone_number"
                value="{{ user.phone_number }}"
                pattern="[0-9]+"
                title="Phone number should contain only numbers."
                required
              />
            </div>
            <div class="form-group">
              <label for="department">Department:</label>
              <input
                type="text"
                class="form-control"
                id="department"
                name="department"
                value="{{ user.department|default_if_none:'' }}"
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>
            <div class="form-group">
              <label for="provider_role">Position:</label>
              <input
                type="text"
                class="form-control"
                id="provider_role"
                name="provider_role"
                value="{{ user.provider_role|default_if_none:'' }}"
                oninput="capitalizeFirstLetter(this)"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>

          {% if messages %}
          <div class="alert alert-success mt-3">
            {% for message in messages %} {{ message }} {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function capitalizeFirstLetter(inputField) {
    // Capitalize the first letter and keep the rest of the string as it is
    inputField.value =
      inputField.value.charAt(0).toUpperCase() + inputField.value.slice(1);
  }

  // Real-time validation for first name and last name
  document.getElementById("first_name").addEventListener("input", function () {
    if (!this.value.match(/^[A-Za-z\s]*$/)) {
      this.setCustomValidity("First name should contain only letters.");
    } else {
      this.setCustomValidity("");
    }
  });

  document.getElementById("last_name").addEventListener("input", function () {
    if (!this.value.match(/^[A-Za-z\s]*$/)) {
      this.setCustomValidity("Last name should contain only letters.");
    } else {
      this.setCustomValidity("");
    }
  });

  // Real-time validation for phone number
  document
    .getElementById("phone_number")
    .addEventListener("input", function () {
      if (!this.value.match(/^[0-9]*$/)) {
        this.setCustomValidity("Phone number should contain only numbers.");
      } else {
        this.setCustomValidity("");
      }
    });
</script>

{% endblock %}
