{% extends "CarePath/layout.html" %} {% block title %} Search Patient
{%endblock%} {% block content %}

<div style="display: flex; min-height: 60vh; margin: 0 5px">
  <!-- Sidebar -->
  <div
    class="sidebar"
    style="
      position: relative;
      min-height: 74vh;
      width: 270px;
      margin-right: 20px;
    "
  >
    <div class="user-info">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p>{{ user.role }}</p>
    </div>
    <div class="nav flex-column flex-grow-1">
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'home' %}">Home</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_profile' %}">My Profile</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_password' %}">Change Password</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_appt' %}">My Appointment</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_search_pt' %}">Book a New Appointment</a>
      </div>
      <!-- <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_feedback' %}">View Feedback</a>
      </div> -->
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_feedback' %}" style="position: relative">
          View Feedback {% if unread_feedback_count > 0 %}
          <!-- Red dot styled to be positioned at the top-right of the text -->
          <span
            class="badge badge-danger"
            style="position: absolute; top: -5px; right: -10px"
            >●</span
          >
          {% endif %}
        </a>
      </div>
    </div>
    <!-- Log Out link -->
    <form
      id="logout-form"
      action="{% url 'logout' %}"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
    </form>
    <a
      href="#"
      class="nav-item nav-link"
      style="
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #2a72b9;
        color: white;
        text-decoration: none;
        border-top: 1px solid #2a72b9;
        display: block;
      "
      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >Log Out</a
    >
  </div>

  <!-- Main Content -->
  <div style="flex-grow: 1; padding: 10px; text-align: left">
    <h2>Enter Patient's Name to Search</h2>
    <hr />

    <div style="flex-grow: 1; padding: 10px; text-align: left">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <div style="padding: 8px; text-align: left">
            <form method="GET" action="{% url 'provider_search_pt' %}">
              <div class="form-group">
                <input
                  type="text"
                  name="q"
                  placeholder="Enter patient's name"
                  class="form-control"
                />
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>

            {% if patients %}
            <br /><br />
            <h3>Search Results</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for patient in patients %}
                <tr>
                  <td>{{ patient.first_name }}</td>
                  <td>{{ patient.last_name }}</td>
                  <td>
                    <a
                      href="{% url 'view_patient_details' patient.id %}"
                      class="btn btn-info btn-sm"
                      >View Info</a
                    >

                    <a
                      href="{% url 'book_pt_appointment' patient.id %}"
                      class="btn btn-success btn-sm"
                      >Book Appointment</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>No patients found.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
