{% extends "CarePath/layout.html" %} {% block title %} Change Password
{%endblock %} {% block content %}

<div style="display: flex; min-height: 60vh; margin: 0 5px">
  <!-- Sidebar -->
  <div
    class="sidebar"
    style="
      position: relative;
      min-height: 74vh;
      width: 270px;
      margin-right: 20px;
    "
  >
    <div class="user-info">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p>{{ user.role }}</p>
    </div>
    <div class="nav flex-column flex-grow-1">
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'home' %}">Home</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_profile' %}">My Profile</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_password' %}">Change Password</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_appt' %}">My Appointment</a>
      </div>
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_search_pt' %}">Book a New Appointment</a>
      </div>
      <!-- <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_feedback' %}">View Feedback</a>
      </div> -->
      <div class="nav-item" style="text-align: center">
        <a href="{% url 'provider_feedback' %}" style="position: relative">
          View Feedback {% if unread_feedback_count > 0 %}
          <!-- Red dot styled to be positioned at the top-right of the text -->
          <span
            class="badge badge-danger"
            style="position: absolute; top: -5px; right: -10px"
            >●</span
          >
          {% endif %}
        </a>
      </div>
    </div>
    <!-- Log Out link -->
    <form
      id="logout-form"
      action="{% url 'logout' %}"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
    </form>
    <a
      href="#"
      class="nav-item nav-link"
      style="
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #2a72b9;
        color: white;
        text-decoration: none;
        border-top: 1px solid #2a72b9;
        display: block;
      "
      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >Log Out</a
    >
  </div>

  <!-- Main Content -->
  <div style="flex-grow: 1; padding: 10px; text-align: left">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">
        <div style="padding: 8px; text-align: left">
          <h2>Change Your Password</h2>
          <hr />

          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="id_old_password">Enter Your Current Password</label>
              <input
                type="password"
                name="old_password"
                id="id_old_password"
                class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
              />
              {% if form.old_password.errors %}
              <div class="invalid-feedback">
                {% for error in form.old_password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            {% if password_help_texts %}
            <ul>
              {% for help_text in password_help_texts %}
              <li>{{ help_text }}</li>
              {% endfor %}
            </ul>
            {% endif %}

            <div class="form-group">
              <label for="id_new_password1">Enter a New Password</label>
              <input
                type="password"
                name="new_password1"
                id="id_new_password1"
                class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
              />

              <div
                id="password-error"
                style="color: red; margin-top: 5px"
              ></div>

              {% if form.new_password1.errors %}
              <div class="invalid-feedback">
                {% for error in form.new_password1.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_new_password2">Confirm New Password</label>
              <input
                type="password"
                name="new_password2"
                id="id_new_password2"
                class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
              />
              {% if form.new_password2.errors %}
              <div class="invalid-feedback">
                {% for error in form.new_password2.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">
              Change Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("id_new_password1")
    .addEventListener("input", function () {
      var password = this.value;
      var error = "";
      if (password.length < 8) {
        error = "Password must be at least 8 characters long.";
      }
      if (!isNaN(password)) {
        error = "Password must not be entirely numeric.";
      }
      document.getElementById("password-error").innerText = error;
    });
</script>
{% endblock %}
