{% extends "CarePath/layout.html" %} {% block title %} Treatment & Side Effects
{% endblock %} {% block content %}

<div class="container d-flex justify-content-center">
  <div class="my-div p-4 bg-light">
    <h1 style="font-weight: bold">
      Possible Treatments and Side effects to Expect
    </h1>
    <br /><br />
    <p>
      Most head and neck cancers are treated with surgery, radiotherapy,
      chemotherapy or a combination of these modalities.
    </p>
    <br />
    <h5 style="font-weight: bold">Surgery</h5>
    <p>
      Surgery involves the removal of abnormal or diseased tissue from the head
      and neck. Some head and neck cancers are treated with surgery alone. Some
      are treated with surgery followed by radiation therapy (or a combination
      of radiation therapy and chemotherapy). If your surgery is scheduled to be
      done at Auckland City Hospital, you may be asked to attend a pre-admission
      clinic. This clinic is held in the afternoon of the same day. At this
      clinic you will see a nurse and an anaesthetist to help you prepare for
      surgery. You may require further tests. This clinic usually takes an
      additional 3-4 hours to complete. If your surgery is to be done at another
      hospital, an appointment for you to attend a pre-admission clinic will be
      arranged for a different day.
    </p>
    <br />
    <h5 style="font-weight: bold">Radiotherapy (Radiation Therapy)</h5>
    <p>
      Radiotherapy is the use of high-energy radiation to destroy cancer cells
      or prevent them from reproducing. Radiotherapy only affects the part of
      the body that the radiation is aimed at. Some cancers are treated with
      radiotherapy alone. Some cancers are treated with radiotherapy and
      chemotherapy. Some cancers are treated with surgery followed by
      radiotherapy. Sometimes radiation can affect the teeth and mouth. Your
      teeth need to be healthy before you start radiotherapy. The MDM will
      organise a dental checkup and any urgent dental treatment needed. This
      will be done by the hospital dental service. There will be no cost for
      you.
    </p>

    <br />
    <h5 style="font-weight: bold">Chemotherapy and other drug treatments</h5>
    <p>
      Chemotherapy, immunotherapy and targeted therapies are drug treatments
      aimed to disrupt the growth of cancer cells. They are usually given by an
      injection into a vein but sometimes by mouth. Chemotherapy is usually
      given with radiotherapy for head and neck cancer. It also may be given as
      a treatment on its own. Immunotherapy and targeted therapies are newer
      drug treatments emerging for treating specific types of head and neck
      cancer.
    </p>
    <br />

    <br />
    <h5 style="font-weight: bold">Possible Side effects</h5>
    <p>
      Patients undergoing radiotherapy can experience several unwanted oral side
      effects, which have both short-term and long-term implications.
    </p>

    <br />
    <h6 style="font-weight: bold">Common short-term side effects include:</h6>
    <p>
      • Cellulitis - bacterial skin infection <br />
      • Mucositis - inflammation/ulceration of the soft tissues <br />
      • Dysphagia - difficulty swallowing <br />
      • Dysgeusia - foul, salty, or metallic taste sensation persistsin the
      mouth <br />
      • Weight loss
    </p>

    <br />
    <h6 style="font-weight: bold">Common long-term side effects include:</h6>
    <p>
      • Rampant caries - rapidly growing dental decay <br />
      • Trismus - muscle spasms and limited mouth opening <br />
      • Xerostomia - dry mouth <br />
      • Osteoradionecrosis (ORN) - bone death after radiation therapy
    </p>

    <br />
    <h6 style="font-weight: bold">About ORN</h6>
    <p>
      Osteoradionecrosis (ORN) is a severe, late complication of radiation
      therapy, commonly affecting the bones in the head and neck region,
      particularly the mandible (lower jaw). Dental extraction in the irradiated
      areas post radiotherapy (>50 Gy) remains the main risk factor for ORN.
      Post-radiation infections can also contribute to the development of ORN.
      People experience persistent pain, ranging from mild to severe in the
      affected area, and possible loss of substantial amount of bone tissue
      leading to pathological fractures in some cases. Management of ORN is
      difficult and can involve significant time and cost. Thorough dental
      examination and proper treatment of any dental issues before starting
      radiation therapy is crucial for the prevention of ORN.
    </p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a href="{% url 'journey' %}" class="btn btn-primary" style="margin-top: 20px"
    >BACK</a
  >
</div>

{% endblock %}
